@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
body {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    background-image: url('https://github.com/Lord-Chalex/Lord-Chalex/assets/146172598/9689e083-efd8-4857-94f5-39fe257a927a');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: rgb(255, 255, 255);
}
ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #333; 
        overflow: hidden;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white; 
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover {
        background-color: #555; 
    }
    .button {
        background-color: #0074D9; /* Couleur de fond */
        color: rgb(0, 0, 0); /* Couleur du texte */
        padding: 10px 20px; /* Rembourrage (padding) pour l'espace autour du texte */
        border: none; /* Supprime la bordure */
        border-radius: 5px; /* Coins arrondis */
        cursor: pointer; /* Curseur de type main (pointer) au survol */
        font-size: 16px; /* Taille de police */
      }
      
      .button:hover {
        background-color: #0056b3; /* Couleur de fond au survol */
      }